body {
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  text-align: center;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.cell {
  width: 100px;
  height: 100px;
  border: solid 1px black;
  font-size: 38px;
  font-weight: bold;
}

.player{
  color: orange;
  text-align: center;
  font-size: 30px;
}

.app{
  display: grid;
  place-content: center;
}